<!DOCTYPE html>
<html lang = "en" background = "green">
<head>
	<!-- link to css spreadsheet -->
	<!--<link rel='stylesheet' type='text/css' href='loginStyleSheet.css'/> -->
<h1>Log In</h1>
</head>
<body>
	Username and Password must be alphanumeric strings between 4 and 16 characters long.
	<form id="logon" action="logon" method="POST">
	<fieldset id="inputs">
		<input type="text" name="username" placeholder="Username" autocomplete="off" maxlength="16" pattern="[a-zA-Z0-9]{4,16}" autofocus required />
		<input type="password" name="password" placeholder="Password" autocomplete="off" maxlength="16" pattern ="[a-zA-Z0-9]{4,16}" required />
		<input type="hidden" name="csrf_token" value="$csrf_token()">
	</fieldset>
	<fieldset id="actions">
		<input type="submit" id="submit" value="Log In"/ formenctype="application/x-www-form-urlencoded">
		<a href="adduser">Register</a> <!-- add in link for user registration page -->
	</fieldset>
	</form>
</body>
</html>
